@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
  max-width: 1000px;
  margin: 50px auto;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #aaa;
  border-radius: 5px;
  padding: 25px 45px;
  text-align: center;
}

.actions {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;

  button {
    padding: 10px 36px;
    border-radius: 5px;
    font-size: 18px;
    border-style: solid;
    border-color: gray;
  }
}
